body{
	padding-left:20px;
	background-image:url("cvbg.png");
	background-repeat:none;
	background-size:cover;
	font-family: Helvetica;
}
.cv{
	width:1650px;
	height:100vh;
}
.nid{
	margin-top:45px;
	font-size:20px;
}
.cvp{
	height:210px;
	width:195px;
	padding:10px;
	border:2px solid black;
	border-radius:30px;
	cursor:pointer;
	margin:20px 50px 10px 0px;
}
.cvp:hover{
	border-radius:0;
	transform:scale(1.06);
	transition:1s;
	box-shadow:5px 3px 3px 5px gray;
}
.top{
	display:block;
}

.nb h1{
	font-size:50px;
	padding-top:25px;
	transition:1s;
}
.nb h1:hover{
	font-size:53px;
	text-shadow:2px 2px 5px gray;
}
.nb p{
	width:1200px;
	font-size:23px;
}
.nb{
	margin-top: 40px;
	margin-left: 30px;
	margin-right: 30px;
}
.contact h2{
	margin-bottom:-20px;
}
.contact img{
	font-size:40px;
}
.contact p{
	display:inline-block;
	font-size:30px;
	margin-bottom:-10px;
}
.contact{
	margin-top:100px;
}
.et table{
	width:1250px;
	border:solid black;
}
.et table td{
	font-size: 25px;
	padding: 20px;
}
.et table td:hover{
	color:white;
	background-color:#28282B;
	transition:0.5s;
	cursor:cell;
}
.exp h2{
	margin-bottom:-10px;
}
.exp h3{
	font-size:30px;
}
.exp p{
	font-size:30px;	
}
.exp ul li{
	font-size:30px;
	margin-bottom:10px;
	white-space: pre-wrap;
	width: 1200px;
}
.skills h2{
	margin-bottom:-20px;
}
.sc{
	display:flex;
	flex-direction:row;
	
}
.sc ul li{
	font-size:30px;
}
.sc h3{
	font-size:30px;
	text-align:center;
	text-decoration:underline;
}
.sc2{
	margin-left:150px;
	border-left:solid 4px #28282B;
}
.pr{
	margin-left:60px;
	border-left:solid 0.5px #28282B;
}
.sc1 ul{
	margin-left:60px;
}
.csk h3{
	margin-left:210px;
}
button{
	background-color:#28282B;
	color:#efefee;
	padding:20px 120px;
	display:block;
	margin-left:-100px;
	font-size:20px;
	border-radius:20px;

}
button:hover{
	background-color:#efefee;
	color:#28282B;
	transition:0.5s;
	
}

.pc a{
	text-decoration:none;
}
.pc img{
	width:80px;
	height:80px;
	margin-left:10px;
}
.pc p{
	font-family:Collegiate;
	display:inline-block;
	font-size:20px;
	font-weight:700;
}
.pc{
	display:flex;
	flex-direction:row;
	align-self:center;
}
.git{
	
	margin-left:240px;
	padding-right:180px;
	border-right:solid 4px #28282B; 
}
.in{
	font-family:Myriad;
	margin-left:280px;
}
.in img{
	margin-left:20px;
	width:60px;
	height:60px;
	padding-top:20px;
}

.bg{
	font-size:40px;
	background-color:#28282B;
	color:#efefee;
	margin-left:-50px;
	padding-left:50px;
	padding-top:10px;
	padding-bottom:10px;
}
.bg:hover{
	background-color:transparent;
	color:#28282B;
	cursor:move;
	transition:0.3s;
}
.ref h4,.ref p{
	font-size:30px;
}
.ref{
	padding-bottom:50px;
}